p {
  font-size: 30px;
}
.tabsdemoDynamicHeight md-content {
  background-color: transparent !important; }
  .tabsdemoDynamicHeight md-content md-tabs {
    background: #f6f6f6;
    border: 1px solid #e1e1e1; }
    .tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper {
      background: white; }
  .tabsdemoDynamicHeight md-content h1:first-child {
    margin-top: 0; }

md-checkbox.md-checked.blue .md-icon {
 background-color: rgba(40, 53, 147, 1);
}

#menu_button{
  margin-left: 25%;
  margin-right: auto;
  width: 40%;
  margin-top:20px;
}

#item_menu:hover {
  background: #9FA8DA;
  display: flex;
}

#text_menu{
  margin: auto;
  margin-left: 15px;
}
.card-media {
  background-color: transparent;
  }
.md-card-image {
  margin-left: 60px;
  margin-top: 10px;
  width: 40%;
/*  float: right;*/
}

.md-card-title-media {
  float : right;
}

.md-headline {
  font-size: 40px;
}
