<!DOCTYPE html>

<html ng-app="Application">
    <head>
        <meta charset="utf-8" />
        <title>KeyLogger</title>
        <link rel="stylesheet" href="/static/css/mycss.css" charset="utf-8">
        <link rel="stylesheet" href="/static/angular-material/angular-material.css">
        <script src="static/angular/angular.min.js"></script>
        <script src="static/angular-animate/angular-animate.min.js"></script>
        <script src="static/angular-aria/angular-aria.min.js"></script>
        <script src="static/angular-material/angular-material.min.js"></script>
        <script src="static/angular-route/angular-route.min.js"></script>
        <script src="static/angular-messages/angular-messages.js"></script>
        <script src="static/js/svg-assets-cache.js"></script>
        <script src="static/js/myjs.js"></script>
        <script src="static/chart.js/dist/Chart.min.js"></script>

    </head>

    <body >


<md-sidenav
    class="md-sidenav-left"
    md-component-id="left"
    md-whiteframe="4"
    style="background: rgb(63,81,181); width: 20%;">

  <md-toolbar style="background: rgb(40,53,147);">
    <h1 class="md-toolbar-tools">Menu</h1>
  </md-toolbar>
  <md-content ng-controller="LeftCtrl" style="background: rgb(63,81,181); text-align: left;">

    <md-toolbar id="item_menu" >
      <span onclick= "window.location.href = 'toto'"; id="text_menu">Statistics general</span>
    </md-toolbar>

    <md-toolbar id="item_menu">
      <span onclick= "window.location.href = '#'"; id="text_menu">Statistics per website</span>
    </md-toolbar>


    <md-button ng-click="close()" id="menu_button" class="md-raised md-primary">
      Close Menu
    </md-button>
  </md-content>
</md-sidenav>

<div ng-cloak="" class="toolbardemoBasicUsage" >
<md-content ng-controller="LeftCtrl">
  <md-toolbar class="md-hue-2">
      <div class="md-toolbar-tools">
            <md-button ng-click="toggleLeft()" class="md-icon-button" aria-label="Settings">
              <md-icon md-svg-icon="img/icons/menu.svg" style="color: greenyellow;"></md-icon>
            </md-button>

        <h2>
          <span>Keylogger results </span>
        </h2>
        <span flex=""></span>
        <md-button class="md-icon-button" aria-label="Favorite">
          <md-icon md-svg-icon="img/icons/favorite.svg" style="color: greenyellow;"></md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="More">
          <md-icon md-svg-icon="img/icons/more_vert.svg"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
  </md-content>
</div>
    <div ng-cloak="" class="tabsdemoDynamicHeight" ng-controller="FirstController as ctrl" ng-show="true">
        <md-content>
          <md-tabs md-dynamic-height="" md-border-bottom="">
            <md-tab label="Tous">
              <md-content class="md-padding">
              <div layout="row">
                
                  <div flex=50 ng-controller="ChartController as chart" style="width: 50%; margin-left: auto; margin-right: auto;height: auto;" >
                    
                  <canvas id="myChart"  ></canvas>
                  </div>
                <hr>
                  <div flex=50 ng-controller="SiteController as chart" style="width: 50%; margin-left: auto; margin-right: auto;height: auto;" >
                    
                  <canvas id="myChart1"  ></canvas>
                </div>
              <hr>
              </div>
              </md-content>
            </md-tab>

            <md-tab label="Facebook">
              <md-content class="md-padding">
              <div layout="row">
                  <div flex=50 ng-controller="SiteController as chart" style="width: 50%; margin-left: auto; margin-right: auto;height: auto;" >
                    
                  <canvas id="myChart2"  ></canvas>
                  </div>
              </div>
              </md-content>
            </md-tab>

            <md-tab label="Amazon">
              <md-content class="md-padding">
              <div layout="row">
                  <div flex=50 ng-controller="SiteController as chart" style="width: 50%; margin-left: auto; margin-right: auto;height: auto;" >
                    
                  <canvas id="myChart3"  ></canvas>
                  </div>
              </div>
              </md-content>
            </md-tab>
            <md-tab label="Zimbra">
              <md-content class="md-padding">
              <div layout="row">
                  <div flex=50 ng-controller="SiteController as chart" style="width: 50%; margin-left: auto; margin-right: auto;height: auto;" >
                    
                  <canvas id="myChartZ"  ></canvas>
                  </div>
              </div>
              </md-content>
            </md-tab>


            
          </md-tabs>

      </div>
    </body>
</html>
